http:
  routers:
    s3-minio:
      entryPoints:
      - https
      rule: Host(`s3.domain.ru`)
      service: s3-minio-service
      tls:
        certResolver: letsEncrypt
  services:
    s3-minio-service:
      loadBalancer:
        healthCheck:
          path: /minio/health/live
          scheme: http
        servers:
          - url: http://192.168.1.3:9000
          - url: http://192.168.1.4:9000
          - url: http://192.168.1.5:9000
          - url: http://192.168.1.6:9000
